{
  "presets": ["@babel/env", "minify"],
  "env": {
    "development": {
      "plugins": [
        ["@babel/plugin-transform-regenerator"],
        "syntax-async-functions",
        "transform-async-to-generator",
        ["@babel/plugin-transform-instanceof"]
      ]
    },
    "production": {
      "plugins": [
        ["@babel/plugin-transform-regenerator"],
        ["@babel/plugin-transform-runtime"],
        "syntax-async-functions",
        "transform-async-to-generator",
        ["@babel/plugin-transform-instanceof"]
      ]
    }
  }
}
